In [2]:
import pyforest

In [109]:
df = pd.read_csv("trip_data.csv")

In [6]:
df.head()

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscriber Type,Zip Code
0,432946,406,8/31/2014 22:31,Mountain View Caltrain Station,28,8/31/2014 22:38,Castro Street and El Camino Real,32,17,Subscriber,94040
1,432945,468,8/31/2014 22:07,Beale at Market,56,8/31/2014 22:15,Market at 4th,76,509,Customer,11231
2,432944,534,8/31/2014 22:06,Beale at Market,56,8/31/2014 22:15,Market at 4th,76,342,Customer,11231
3,432942,1041,8/31/2014 21:45,Embarcadero at Sansome,60,8/31/2014 22:02,Steuart at Market,74,603,Customer,94521
4,432941,1091,8/31/2014 21:44,Embarcadero at Sansome,60,8/31/2014 22:02,Steuart at Market,74,598,Customer,94521

In [7]:
df.tail()

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscriber Type,Zip Code
171787,198780,429,3/1/2014 0:42,Spear at Folsom,49,3/1/2014 0:49,Broadway St at Battery St,82,395,Subscriber,94105
171788,198779,179,3/1/2014 0:22,Powell Street BART,39,3/1/2014 0:25,Market at 4th,76,439,Subscriber,94107
171789,198778,224,3/1/2014 0:21,Civic Center BART (7th at Market),72,3/1/2014 0:25,Golden Gate at Polk,59,380,Subscriber,94103
171790,198777,445,3/1/2014 0:16,San Francisco Caltrain (Townsend at 4th),70,3/1/2014 0:23,Embarcadero at Bryant,54,268,Subscriber,94105
171791,198776,177,3/1/2014 0:14,Yerba Buena Center of the Arts (3rd @ Howard),68,3/1/2014 0:17,Market at Sansome,77,398,Subscriber,94105

In [9]:
df.shape

(171792, 11)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171792 entries, 0 to 171791
Data columns (total 11 columns):
Trip ID            171792 non-null int64
Duration           171792 non-null int64
Start Date         171792 non-null object
Start Station      171792 non-null object
Start Terminal     171792 non-null int64
End Date           171792 non-null object
End Station        171792 non-null object
End Terminal       171792 non-null int64
Bike #             171792 non-null int64
Subscriber Type    171792 non-null object
Zip Code           171581 non-null object
dtypes: int64(5), object(6)
memory usage: 14.4+ MB

### 1. Total number of trips in the data set?

In [19]:
print("Total number of trips in the data set : ",df['Trip ID'].nunique())

Total number of trips in the data set :  171792

### 2. Number of unique trips in the data set?

In [20]:
df['Start Station'].unique()

array(['Mountain View Caltrain Station', 'Beale at Market',
       'Embarcadero at Sansome', '2nd at Townsend', 'Market at Sansome',
       'Howard at 2nd', 'Harry Bridges Plaza (Ferry Building)',
       'San Francisco Caltrain (Townsend at 4th)',
       'Temporary Transbay Terminal (Howard at Beale)',
       'Grant Avenue at Columbus Avenue', 'Post at Kearny',
       '5th at Howard', 'Powell Street BART',
       'Powell at Post (Union Square)', 'Washington at Kearny',
       'Davis at Jackson', 'Embarcadero at Vallejo',
       'Yerba Buena Center of the Arts (3rd @ Howard)',
       'California Ave Caltrain Station', 'Embarcadero at Bryant',
       'Broadway St at Battery St', 'South Van Ness at Market',
       'University and Emerson', '2nd at South Park',
       'Arena Green / SAP Center', 'Embarcadero at Folsom',
       'Castro Street and El Camino Real', 'Market at 4th',
       'San Pedro Square', '2nd at Folsom', 'Clay at Battery',
       'Mountain View City Hall', 'San Antonio Caltrain Station',
       'Townsend at 7th', 'Japantown', 'Steuart at Market', 'MLK Library',
       'Market at 10th', 'San Francisco Caltrain 2 (330 Townsend)',
       'Golden Gate at Polk', 'San Salvador at 1st',
       'Santa Clara at Almaden', 'Civic Center BART (7th at Market)',
       'San Francisco City Hall', 'Redwood City Caltrain Station',
       'Palo Alto Caltrain Station', 'Cowper at University',
       'Spear at Folsom', 'Paseo de San Antonio',
       'Mechanics Plaza (Market at Battery)',
       'San Jose Diridon Caltrain Station', 'St James Park',
       'Ryland Park', 'SJSU 4th at San Carlos',
       'Commercial at Montgomery',
       'Rengstorff Avenue / California Street',
       'Santa Clara County Civic Center', 'San Antonio Shopping Center',
       'SJSU - San Salvador at 9th', 'San Jose Civic Center',
       'Adobe on Almaden', 'San Mateo County Center',
       'San Jose City Hall', 'Redwood City Medical Center',
       'Evelyn Park and Ride', 'Mezes Park',
       'Redwood City Public Library', 'Franklin at Maple',
       'Park at Olive', 'Broadway at Main'], dtype=object)

In [291]:
a = df.groupby(by=['Start Station','End Station']).count()
a

                                                                                             Trip ID  \
Start Station                                 End Station
2nd at Folsom                                 2nd at Folsom                                       45
                                              2nd at South Park                                  167
                                              2nd at Townsend                                    160
                                              5th at Howard                                      114
                                              Beale at Market                                     54
...                                                                                              ...
Yerba Buena Center of the Arts (3rd @ Howard) Steuart at Market                                  142
                                              Temporary Transbay Terminal (Howard at Beale)       55
                                              Townsend at 7th                                    120
                                              Washington at Kearny                                45
                                              Yerba Buena Center of the Arts (3rd @ Howard)       76

                                                                                             Duration  \
Start Station                                 End Station
2nd at Folsom                                 2nd at Folsom                                        45
                                              2nd at South Park                                   167
                                              2nd at Townsend                                     160
                                              5th at Howard                                       114
                                              Beale at Market                                      54
...                                                                                               ...
Yerba Buena Center of the Arts (3rd @ Howard) Steuart at Market                                   142
                                              Temporary Transbay Terminal (Howard at Beale)        55
                                              Townsend at 7th                                     120
                                              Washington at Kearny                                 45
                                              Yerba Buena Center of the Arts (3rd @ Howard)        76

                                                                                             Start Date  \
Start Station                                 End Station
2nd at Folsom                                 2nd at Folsom                                          45
                                              2nd at South Park                                     167
                                              2nd at Townsend                                       160
                                              5th at Howard                                         114
                                              Beale at Market                                        54
...                                                                                                 ...
Yerba Buena Center of the Arts (3rd @ Howard) Steuart at Market                                     142
                                              Temporary Transbay Terminal (Howard at Beale)          55
                                              Townsend at 7th                                       120
                                              Washington at Kearny                                   45
                                              Yerba Buena Center of the Arts (3rd @ Howard)          76

                                                                                             Start Terminal  \
Start Station                                 End Station
2nd at Folsom                                 2nd at Folsom                                              45
                                              2nd at South Park                                         167
                                              2nd at Townsend                                           160
                                              5th at Howard                                             114
                                              Beale at Market                                            54
...                                                                                                     ...
Yerba Buena Center of the Arts (3rd @ Howard) Steuart at Market                                         142
                                              Temporary Transbay Terminal (Howard at Beale)              55
                                              Townsend at 7th                                           120
                                              Washington at Kearny                                       45
                                              Yerba Buena Center of the Arts (3rd @ Howard)              76

                                                                                             End Date  \
Start Station                                 End Station
2nd at Folsom                                 2nd at Folsom                                        45
                                              2nd at South Park                                   167
                                              2nd at Townsend                                     160
                                              5th at Howard                                       114
                                              Beale at Market                                      54
...                                                                                               ...
Yerba Buena Center of the Arts (3rd @ Howard) Steuart at Market                                   142
                                              Temporary Transbay Terminal (Howard at Beale)        55
                                              Townsend at 7th                                     120
                                              Washington at Kearny                                 45
                                              Yerba Buena Center of the Arts (3rd @ Howard)        76

                                                                                             End Terminal  \
Start Station                                 End Station
2nd at Folsom                                 2nd at Folsom                                            45
                                              2nd at South Park                                       167
                                              2nd at Townsend                                         160
                                              5th at Howard                                           114
                                              Beale at Market                                          54
...                                                                                                   ...
Yerba Buena Center of the Arts (3rd @ Howard) Steuart at Market                                       142
                                              Temporary Transbay Terminal (Howard at Beale)            55
                                              Townsend at 7th                                         120
                                              Washington at Kearny                                     45
                                              Yerba Buena Center of the Arts (3rd @ Howard)            76

                                                                                             Bike #  \
Start Station                                 End Station
2nd at Folsom                                 2nd at Folsom                                      45
                                              2nd at South Park                                 167
                                              2nd at Townsend                                   160
                                              5th at Howard                                     114
                                              Beale at Market                                    54
...                                                                                             ...
Yerba Buena Center of the Arts (3rd @ Howard) Steuart at Market                                 142
                                              Temporary Transbay Terminal (Howard at Beale)      55
                                              Townsend at 7th                                   120
                                              Washington at Kearny                               45
                                              Yerba Buena Center of the Arts (3rd @ Howard)      76

                                                                                             Subscriber Type  \
Start Station                                 End Station
2nd at Folsom                                 2nd at Folsom                                               45
                                              2nd at South Park                                          167
                                              2nd at Townsend                                            160
                                              5th at Howard                                              114
                                              Beale at Market                                             54
...                                                                                                      ...
Yerba Buena Center of the Arts (3rd @ Howard) Steuart at Market                                          142
                                              Temporary Transbay Terminal (Howard at Beale)               55
                                              Townsend at 7th                                            120
                                              Washington at Kearny                                        45
                                              Yerba Buena Center of the Arts (3rd @ Howard)               76

                                                                                             Zip Code  \
Start Station                                 End Station
2nd at Folsom                                 2nd at Folsom                                        45
                                              2nd at South Park                                   167
                                              2nd at Townsend                                     160
                                              5th at Howard                                       114
                                              Beale at Market                                      54
...                                                                                               ...
Yerba Buena Center of the Arts (3rd @ Howard) Steuart at Market                                   142
                                              Temporary Transbay Terminal (Howard at Beale)        55
                                              Townsend at 7th                                     120
                                              Washington at Kearny                                 45
                                              Yerba Buena Center of the Arts (3rd @ Howard)        76

                                                                                             Month  \
Start Station                                 End Station
2nd at Folsom                                 2nd at Folsom                                     45
                                              2nd at South Park                                167
                                              2nd at Townsend                                  160
                                              5th at Howard                                    114
                                              Beale at Market                                   54
...                                                                                            ...
Yerba Buena Center of the Arts (3rd @ Howard) Steuart at Market                                142
                                              Temporary Transbay Terminal (Howard at Beale)     55
                                              Townsend at 7th                                  120
                                              Washington at Kearny                              45
                                              Yerba Buena Center of the Arts (3rd @ Howard)     76

                                                                                             Day
Start Station                                 End Station
2nd at Folsom                                 2nd at Folsom                                   45
                                              2nd at South Park                              167
                                              2nd at Townsend                                160
                                              5th at Howard                                  114
                                              Beale at Market                                 54
...                                                                                          ...
Yerba Buena Center of the Arts (3rd @ Howard) Steuart at Market                              142
                                              Temporary Transbay Terminal (Howard at Beale)   55
                                              Townsend at 7th                                120
                                              Washington at Kearny                            45
                                              Yerba Buena Center of the Arts (3rd @ Howard)   76

[1677 rows x 11 columns]

In [40]:
print("No of unique trips",a.shape[0])

No of unique trips 1677

In [46]:
b = df.groupby(by='Start Terminal')['End Terminal'].value_counts()
# Another method
print("No of unique trips",b.shape[0])

No of unique trips 1677

### 3. Which bike is used the most in the data set?

In [49]:
df.rename({"Bike #":"Bike"}, axis =1,inplace = True)

In [81]:
c = df.groupby("Bike")['Trip ID'].count().sort_values(ascending = False).head(1)
c

Bike
558    569
Name: Trip ID, dtype: int64

In [80]:
print("Bike {} is used for {} times".format(c.index[0],c.values[0]))

Bike 558 is used for 569 times

### 4. Which week day has more trips?

In [85]:
df.head()

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike,Subscriber Type,Zip Code
0,432946,406,8/31/2014 22:31,Mountain View Caltrain Station,28,8/31/2014 22:38,Castro Street and El Camino Real,32,17,Subscriber,94040
1,432945,468,8/31/2014 22:07,Beale at Market,56,8/31/2014 22:15,Market at 4th,76,509,Customer,11231
2,432944,534,8/31/2014 22:06,Beale at Market,56,8/31/2014 22:15,Market at 4th,76,342,Customer,11231
3,432942,1041,8/31/2014 21:45,Embarcadero at Sansome,60,8/31/2014 22:02,Steuart at Market,74,603,Customer,94521
4,432941,1091,8/31/2014 21:44,Embarcadero at Sansome,60,8/31/2014 22:02,Steuart at Market,74,598,Customer,94521

In [118]:
df['Start Date'] = pd.to_datetime(df['Start Date'])

In [119]:
df['End Date'] = pd.to_datetime(df['End Date'])

In [187]:
d = df['Start Date'].dt.day.value_counts().head(1)
print("Date {}  has total {} trips which is max".format(d.index[0],d.values[0]))

Date 28  has total 6557 trips which is max

In [188]:
e = df['Start Date'].dt.month.value_counts().head(1)
print("Month {}  has total {} trips which is max".format(e.index[0],e.values[0]))

Month 7  has total 31279 trips which is max

In [301]:
df['Month'] = df['Start Date'].dt.month
df['Day'] = df['Start Date'].dt.day


max_trip = df.groupby(by=['Month','Day'])['Trip ID'].count().sort_values(ascending = False)
print(max_trip)
print("26th of 8th has Most no of trips = {}".format(max_trip[0]))

Month  Day
8      26     1513
       27     1479
       12     1380
       25     1371
7      29     1368
              ...
8      24      345
5      11      336
3      1       318
       2       208
       29      117
Name: Trip ID, Length: 184, dtype: int64
26th of 8th has Most no of trips = 1513

### 5.  In the above day of week which unique trip is most used.

In [328]:
trip = df[(df['Start Date'].dt.day==26) & (df['Start Date'].dt.month==8) ]

In [329]:
trip = trip.groupby(by='Start Station')['End Station'].value_counts()
trip

Start Station                                  End Station
2nd at Folsom                                  San Francisco Caltrain (Townsend at 4th)         8
                                               Market at Sansome                                5
                                               Harry Bridges Plaza (Ferry Building)             3
                                               Powell Street BART                               3
                                               San Francisco Caltrain 2 (330 Townsend)          3
                                                                                               ..
Yerba Buena Center of the Arts (3rd @ Howard)  Market at Sansome                                1
                                               Mechanics Plaza (Market at Battery)              1
                                               Post at Kearny                                   1
                                               South Van Ness at Market                         1
                                               Temporary Transbay Terminal (Howard at Beale)    1
Name: End Station, Length: 653, dtype: int64

In [243]:
print(" from 2nd at Folsom to San Francisco Caltrain (Townsend at 4th) 8 times  ")

 from 2nd at Folsom to San Francisco Caltrain (Townsend at 4th) 8 times

### 6.  Sort start terminals according to frequency of usage and list top ten and bottom ten.

In [257]:
df.groupby(by ='Start Terminal')['Trip ID'].count().sort_values(ascending = False).head(10)

Start Terminal
70    12950
50     8336
60     7010
69     7008
61     6824
77     6819
55     6540
74     6238
65     5479
76     5241
Name: Trip ID, dtype: int64

In [258]:
df.groupby(by ='Start Terminal')['Trip ID'].count().sort_values(ascending = False).tail(10)

Start Terminal
12    306
80    306
22    281
38    185
83    126
23     59
24     51
21     44
26     38
25     22
Name: Trip ID, dtype: int64

### 7. Which Start Station  is most used by customers?

In [269]:
df.groupby(by='Start Station')['Trip ID'].count().head(1)

Start Station
2nd at Folsom    4165
Name: Trip ID, dtype: int64

### 8.  Which Start Station  is most used by Subscriber?

In [280]:
type = df[df['Subscriber Type'] =='Subscriber']
type.groupby(by='Start Station')['Trip ID'].count().head(1)

Start Station
2nd at Folsom    3868
Name: Trip ID, dtype: int64

### 9. Which hour in the week days has most usage?

In [287]:
d = df['Start Date'].dt.hour.value_counts().head(1)
print("{}th hour".format(d.index[0]))

8th hour

### 10. Which hour in the weekends has most usage?

In [365]:
df['Weekday'] = df['Start Date'].dt.dayofweek

In [386]:
weekday = df[(df['Weekday']== 6) | (df['Weekday']== 5 )]

In [397]:
print(df.groupby(by=df['Start Date'].dt.hour)['Trip ID'].count().sort_values(ascending = False).head(1))

Start Date
8    21449
Name: Trip ID, dtype: int64